@font-face {
    font-family: "LeatCoat";
    src: url(resourses/leadcoat.ttf);
}
body{
    padding: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
header {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr); 
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

header img {
    justify-self: center;
}

.section {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

    header img {
        width: 180px;
        margin-bottom: 10px;
    }

    .section {
        padding: 10px;
        border-bottom: 1px solid #eee; 
        width: 100%;
    }
}

#productosGeneral {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
    gap: 3px;
    justify-items: center;
    margin: 30px;
    padding-top: 10px;
    font-family: "LeatCoat";
    font-size: 20px;
    color: rgb(103, 101, 101);
}

.producto{
    margin: 1px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 20px;
    padding: 10px;
    border-radius: 40%;
    box-shadow: -2px 2px 0px #82b0ba ;
    text-align: center;
    align-items: center;
}
.producto:hover{
    box-shadow: -2px 2px 1px #5b7d85 ;
    background-color: rgb(235, 235, 235);
    transform: translateY(-10px);
    transition: all .3s;
}
.imgGeneral{
    border-radius: 60%;
}
.imgGeneral:hover{
    transform: scale(1.1);
    transition: all .3s;
}
footer{
    text-align: center;
}

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoNosotros {
    background: #ffffff;
    border-radius: 15px;
    padding: 25px;
    width: 60%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #6aa8b7;
    transition: transform 0.3s ease;
    
    align-content: center;
}

.infoNosotros:hover {
    transform: translateY(-10px);
}

h2 {
    color: #264653;
    font-size: 1.5rem;
    margin-bottom: 15px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #6a6ce9;
    margin-top: 5px;
}

p {
    color: #555;
    line-height: 1.6;
    font-size: 1rem;
}